<!DOCTYPE html>
<html ng-app="AlwaysDo">
<head>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/MainCtrl.js"></script>
  <link rel="stylesheet" type="text/css" href="public/styles.css">
  <title></title>
</head>
<body ng-controller="MainCtrl as Main">
<h1 id="header"> {{ Main.title }} </h1>
<input type="text" ng-model="Main.task">
<button ng-click="Main.addTask()">Add Task!</button>
<task ng-repeat="task in Main.taskList" class="task_item">{{ task.task }}</task>
</body>
</html>
